<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.web.core.Mapper.HotelMapper">

	<!-- 酒店列表 -->
	<select id="listHotel" resultType="hotel">
		SELECT * FROM hotel;
	</select>
	
	<!-- 酒店详情页面 -->
	<select id="findHotelByName"  parameterType="String"  resultType="hotel">
		select * from hotel where hotelName = #{hotelName};
	</select>
	
</mapper>